<p><strong>2013年6月16日更新</strong></p>

<p>Xee</p>

<p>Mac版Acdsee，浏览功能足够，不过缺少了一些Acdsee的编辑功能</p>

<p><img width="300" height="300" src="/images/articles/Xee.png" alt="Xee" /></p>

<p>Twitter</p>

<p>Mac的Twitter客户端</p>

<p><img width="300" height="300" src="/images/articles/MacTwitter.png" alt="Twitter" /></p>

<p>Transmit</p>

<p>ftp客户端</p>

<p><img width="300" height="300" src="/images/articles/Transmit.png" alt="Transmit" /></p>

<p>Google Drive</p>

<p>有了Google Drive就把SugarSync抛弃了</p>

<p><img width="300" height="300" src="/images/articles/GoogleDrive.png" alt="Google Drive" /></p>

<p>Reeder</p>

<p>rss阅读器，界面真的很精美，自从装了之后每天都要忍不住去看几次</p>

<p><img width="300" height="300" src="/images/articles/Reeder.png" alt="Reeder" /></p>

<p>Parallels</p>

<p>Mac上两大虚拟机之一，用的人没有VMWare多，但是虚拟机的速度比VMWare快不少</p>

<p><img width="300" height="300" src="/images/articles/Parallels.png" alt="Parallels" /></p>

<p>GDict</p>

<p>国人作品，小巧的词典，非常好用，唯一不足的前一段时间查词速度不快，不过最近变快了，几近完美</p>

<p><img width="300" height="300" src="/images/articles/GDict.png" alt="GDict" /></p>

<p>Diumoo</p>

<p>确实比豆瓣官方的客户端好用多了，仅仅是可以用系统的播放键这一点就称得上是最好的豆瓣电台客户端了</p>

<p><img width="300" height="300" src="/images/articles/Diumoo.png" alt="Diumoo" /></p>

<p>PixelStick</p>

<p>桌面尺子</p>

<p><img width="300" height="300" src="/images/articles/PixelStick.png" alt="PixelStick" /></p>

<p>Mou</p>

<p>markdown文件编辑器，国人作品，很好用</p>

<p><img width="300" height="300" src="/images/articles/Mou.png" alt="Mou" /></p>

<p>GitX</p>

<p>Gitbox之外的另一个选择，看提交历史更方便</p>

<p><img width="300" height="300" src="/images/articles/GitX.png" alt="GitX" /></p>

<p>GitHub</p>

<p>GitHub客户端</p>

<p><img width="300" height="300" src="/images/articles/GitHub.png" alt="GitHub" /></p>

<p>Jason</p>

<p>json编辑器，可以以plist形式来编辑json文件，很方便</p>

<p><img width="300" height="300" src="/images/articles/Jason.png" alt="Jason" /></p>

<p>Img2icns</p>

<p>制作Mac版图标，也就是icns文件的小工具</p>

<p><img width="300" height="300" src="/images/articles/Img2icns.png" alt="Img2icns" /></p>

<p>Versions</p>

<p>svn客户端，最近svn用的很少了，而且XCode集成了svn的功能，留着备用</p>

<p><img width="300" height="300" src="/images/articles/Versions.png" alt="Versions" /></p>

<p>Navicat</p>

<p>数据库连接工具，功能很强大</p>

<p><img width="300" height="300" src="/images/articles/Navicat.png" alt="Navicat" /></p>

<p>Sublime Text 2</p>

<p>替换了之前的Textmate，有些地方比Textmate更好用</p>

<p><img width="300" height="300" src="/images/articles/Sublime_Text.png" alt="Sublime Text 2" /></p>

<p>HyperDock</p>

<p>给dock增加类似windows7那样的预览窗口，很好用，另外一个免费的选择是DockView，可惜DockView比较占CPU，用起来卡一点</p>

<p><img width="300" height="300" src="/images/articles/Hyperdock.png" alt="HyperDock" /></p>

<p>MongoHub</p>

<p>MongoDB客户端，maybe the only one</p>

<p><img width="300" height="300" src="/images/articles/MongoHub.png" alt="MongoHub" /></p>

<p>Dash</p>

<p>文档查看器，包含了很多种语言的文档，可以自行下载安装，免费版没有功能限制，只不过每次查询都需要等待8秒</p>

<p><img width="300" height="300" src="/images/articles/Dash.png" alt="Dash" /></p>

<p>iTerm2</p>

<p>替换系统内置的终端</p>

<p><img width="300" height="300" src="/images/articles/iTerm2.png" alt="iTerm2" /></p>

<p>Evernote</p>

<p>云笔记</p>

<p><img width="300" height="300" src="/images/articles/Evernote.png" alt="Evernote" /></p>

<p>MPlayerX</p>

<p>Mac下最好的视频播放器</p>

<p><img width="300" height="300" src="/images/articles/MPlayerX.png" alt="MPlayerX" /></p>

<p>Alfred</p>

<p>快速启动工具，替代Spotlight</p>

<p><img width="300" height="300" src="/images/articles/Alfred.png" alt="Alfred" /></p>

<p>DiffFork</p>

<p>文件比较工具，还没有找到更好的</p>

<p><img width="300" height="300" src="/images/articles/DiffFork.png" alt="DiffFork" /></p>

<p>Gmail Notifr</p>

<p>Gmail邮件提醒</p>

<p><img width="300" height="300" src="/images/articles/Gmail_Notifr.png" alt="Gmail Notifr" /></p>

<p>XtraFinder</p>

<p>给Finder增加Tab功能，不过等Mavericks正式版出来之后就没必要了</p>

<p><img width="300" height="300" src="/images/articles/XtraFinder.png" alt="XtraFinder" /></p>


