<p class="title"><strong><%= tag %></strong> tag共有<%= articles.length %>篇文章</p>
<ul>
  <% if articles.length > 0 %>
    <% for entry in articles %>
      <li>
        <a href="<%= entry.path %>"><%= entry.title %></a>
      </li>
    <% end %>
  <% end %>
</ul>

