<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/atom+xml" title="<%= site_title %> - feed" href="/atom.xml" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1><a href="/"><%= site_title %></a></h1>
    </header>
    <nav>
      <form class="pull-right" action="/search">
        <input type="text" class="search-query" placeholder="Search" name="keyword">
      </form>

      <ul class="inline">
        <li><a href="/archives">存档</a></li>
        <li><a href="/works">作品</a></li>
        <li><a href="/my-favorite-tools">我的常用工具</a></li>
        <li><a href="/snapshot">blog快照</a></li>
        <li><a href="/about">关于我</a></li>
      </ul>
    </nav>
    <hr>
    <section>
      <%= yield %> 
    </section>
    <hr> 
    <footer>
      <section id="link">
        <a href="http://github.com/phaibin">GitHub</a>
        ·
        <a href="mailto:phaibin@gmail.com">Email</a>
        ·
        <a href="/atom.xml">RSS</a>
      </section>
      <section>
        powered by <a href="https://github.com/phaibin/MarkdownBlog">MardownBlog</a>
      </section>
    </footer>
  </body>
</html>

